<h1 id="post-view-title" class="post-view">
	<%=h @post.title %>
</h1>

<p id="post-view-body" class="post-view">
	<%=h @post.body %>
</p>

<h3 id="make-comment"><a href="/posts/<%= @post.id %>/comments/create">Make a Comment</a></h3>

<% if @comment %>
	<%= erb :'comments/create' %>
<% end %> 

<%= erb :'comments/index' %>