<h1 id="post-view-title" class="post-view">
	<%=h @post.title %>
</h1>

<p id="post-view-body" class="post-view">
	<%=h @post.body %>
</p>

<!-- <div class="edit-links" id="view-edit-links">
	<a href="/posts/<%=h @post.id %>/edit">Edit</a>
	<a href="/posts/<%=h @post.id %>/destroy">Destroy</a>
</div> -->

<h3 id="make-comment"><a href="/posts/<%= @post.id %>/comments/create">Make a Comment</a></h3>

<% if @comment %>
	<%= erb :'comments/create' %>
<% end %> 

<%= erb :'comments/index' %>